body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  opacity: 0.95;
}

ul:hover {
  opacity: 1;
}

li, a {
  font-size: 30px;
  padding: 30px;
  color: #ffffff;
  text-decoration: none;
}

li:hover {
  background: #1c36df;
  opacity: 1;
}

.nav-list {
  background: #304cff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: #304cff;
  margin-bottom: 30px;
  opacity: 0.9;
}

#footer-content {
  display: flex;
  text-align: center;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  font-size: 22px;
}

#home-title {
  display: flex;
  justify-content: center;
}

#already-have-account, #no-account-yet {
  color: #000000;
  font-size: 15px;
  padding: 0px;
}

.event-info, .my-event-info, .purchase-info {
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

<<<<<<< HEAD
.listing {
  display: flex;
=======
div {
  display: 'flex';
  flex-direction: 'row';
>>>>>>> a8f2368a2e8941ac4f0cb4ecda29f50e31708c35
}

/* .link {
  color: #000000;
  font-size: 15px;
  padding: 0px;
} */